<div class="actionbar-area" *ngIf="actions && actions.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="actionbar-list">
          <div class="actionbar-wp">
            <div class="btn-list">
              <button *ngFor="let btn of actions" [routerLink]="btn.routerlink"
                class="btn btn-{{btn.type ? btn.type : 'default'}} btn-sm notika-btn-{{btn.type ? btn.type : 'default'}} waves-effect"><i
                  class="fa fa-{{btn.icon}} fa-sm"></i> {{btn.title}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
