<!-- Main Menu area start-->
<div class="main-menu-area mg-tb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li>
            <a href="#Home" routerLink="/app/dashboard"><i class="fas fa-home"></i>Home</a>
          </li>
          <li>
            <a href="#Transactions" routerLink="/app/transactions"><i class="fas fa-dollar-sign"></i>Transações</a>
          </li>
          <li>
            <a href="#Clientes" routerLink="/app/customers"><i class="far fa-address-book"></i>Clientes</a>
          </li>
          <li>
            <a href="#Relatorios"><i class="fas fa-chart-line"></i>Relatórios</a>
          </li>
          <li>
            <a href="#Config" routerLink="/app/config"><i class="fas fa-cog"></i> Configurações </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Main Menu area End-->
