<breadcrumb-area pageName="Adicionar nova transação" description="Nova transação" icon="dollar-sign"></breadcrumb-area>


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form [formGroup]="transactionsFormGroup">
        <div class="form-wrap">

          <!-- Transaction Group: Residencial/Comercial -->
          <div class="form-int form-horizental mg-t-15">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                  <label class="hrzn-fm">Grupo</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                  <div class="bootstrap-select fm-cmp-mg">
                    <div class="btn-group bootstrap-select">
                      <div class="nk-int-st">
                        <p-dropdown [options]="transactionGroupSI" class="btn btn-default dropdown-toggle" formControlName="transactionGroup"></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

           <!-- Transaction Group: Residencial/Comercial -->
           <div class="form-int form-horizental mg-t-15">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                  <label class="hrzn-fm">Entrada/Saída</label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                  <div class="bootstrap-select fm-cmp-mg">
                    <div class="btn-group bootstrap-select">
                      <div class="nk-int-st">
                        <p-dropdown [options]="transactionDirectionSI" class="btn btn-default dropdown-toggle" formControlName="transactionDirection"></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Description Field -->
          <div class="form-int form-horizental">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                  <label class="hrzn-fm">Descrição <span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                  <div class="nk-int-st">
                    <input type="text" class="form-control input-sm" placeholder="descrição" pInputText formControlName="description" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Value Field -->
          <div class="form-int form-horizental">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                  <label class="hrzn-fm">Valor <span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                  <div class="nk-int-st">
                    <p-inputMask mask="R$ 999,99" styleClass="form-control input-sm" formControlName="value"
                      placeholder="valor"></p-inputMask>
                  </div>
                </div>
              </div>
            </div>
          </div>


           <!-- DueDate Field -->
           <div class="form-int form-horizental">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                  <label class="hrzn-fm">Data <span class="text-danger">*</span></label>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                  <div class="nk-int-st">
                    <p-inputMask mask="99/99/99" styleClass="form-control input-sm" formControlName="dueDate" placeholder="dd/mm/aa"></p-inputMask>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>



        <div class="form-int form-actions mg-t-30">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button type="submit" class="btn btn-info notika-btn-info waves-effect" [disabled]="!transactionsFormGroup.valid">Salvar</button>
              <button type="button" routerLink="../"
                class="btn btn-default notika-btn-default waves-effect">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
