.p-dropdown-items-wrapper {
  overflow: auto;
  background-color: white;
  padding-left: 17px;
  margin-left: -13px;
  padding-right: 18px;
  border: 1px solid #e1e1e1;
  margin-top: 5px;
  border-radius: 4px;

  .p-dropdown-item {
    padding-top: 4px;
    padding-bottom: 2px;
  }
}
